@media print {

    .page-break {
        break-before: page;
    }

    @page {
        size: A4;
        margin: 20mm;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr {
        break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }
}

.circle{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    position: absolute;
}

.circle:nth-child(1){
    animation-delay: 0;
}
.circle:nth-child(2){
    animation-delay: 0.5s;
}
.circle:nth-child(3){
    animation-delay: 1s;
}
.circle:nth-child(4){
    animation: none;
}

@keyframes pulse {
    to{
        transform: scale(3);
        opacity: 0;
    }
}